{% extends 'blog/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content%}
<div class="content">
    <center><h1>Articles: {{ cnt }}</h1></center>
    <center>
        <a class="icon-link gap-1 icon-link-hover" href="{% url 'blog:article_create' %}">
            Create article
            <svg class="bi">-->
                <use xlink:href="#chevron-right"/>
            </svg>
        </a>
    </center>
    <hr>
    <div class=>
        <center>
            <form method="GET" class="form-inline">
                {{ filter.form.title }}
                {{ filter.form.description }}
                {{ filter.form.content }}
                <button type="submit" class="form_body_item_btn btn  a_btn btn-outline-secondary">Search
                </button>
            </form>
        </center>
    </div>
    <hr>
    {% for article in article_list %}
    <div>
        <div>
            <h4>
                <center>{{ article.title }}</center>
            </h4>
            {% if article.content|length > 200 %}
            {{ article.content|slice:":200" }}...
            <a href="{% url 'blog:article_show' article.slug %}"
               class="icon-link gap-1 icon-link-hover">Continue reading
                <svg class="bi">-->
                    <use xlink:href="#chevron-right"/>
                </svg>
            </a>
            {% else %}
            {{ article.content }}
            {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}
</div>


<!--<nav aria-label="Page navigation example">-->
<!--    <ul class="pagination">-->
<!--        <li class="page-item"><a class="page-link" href="?page=1{{ get_params }}">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="?page=2{{ get_params }}">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="?page=3{{ get_params }}">3</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="?page=4{{ get_params }}">4</a></li>-->
<!--    </ul>-->
<!--</nav>-->

{% endblock%}
