{% extends 'blog/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content%}
{% load static%}
<div>
    <h1>{{ title}}</h1>
    <br>
    <div class="payload">
        <span class="grey summary">{{ article.description }}</span>
        <div class="article_content">
            {{ article.content }}
        </div>
        <br>
        <div class="author_category">
            <p class="icon-link gap-1 icon-link-hover"><span class="author_category_item">Автор:</span><a
                    href="{% url 'blog:author_get' slug=article.author.slug %}">{{ article.author }}</a>
                <svg class="bi">
                    <use xlink:href="#chevron-right"/>
                </svg>
            </p>
            <p class="icon-link gap-1 icon-link-hover"><span class="author_category_item">Категорія:</span><a
                    href="{% url 'blog:article_list_category' slug=article.category.slug %}">{{ article.category }}</a>
                <svg class="bi">-->
                    <use xlink:href="#chevron-right"/>
                </svg>
            </p>
        </div>
        <br>
        <div>
            <h2>
                Commetns
            </h2>
            <div>
                <br>
                {% for comment in article.comments.all %}
                <strong><p>{{ comment.user }}</p></strong>
                {{ comment.comment_text }}
                <hr>
                {% endfor %}
            </div>
        </div>
        <!--        <div class="update link">-->
        <!--            <a href="{% url 'blog:article_update' slug=article.slug %}" class="btn btn-info">Редактировать</a>-->
        <!--        </div>-->
        <!--        <br>-->
        <!--        <div class="update link">-->
        <!--            {% if request.user.is_authenticated %}-->
        <!--            <a href="{% url 'blog:article_delete' article.slug %}" class="btn btn-danger">Удалить статью</a>-->
        <!--            {% endif %}-->
        <!--        </div>-->

        <div class="update link">
            <a href="{% url 'blog:add_comment' slug=article.slug %}" class="form_body_item_btn btn  a_btn btn-outline-secondary">
                Add comment
            </a>
        </div>
        <br>
    </div>
</div>
{% endblock%}
