{% extends 'blog/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content%}
<div class="content">
    <center><h1>Articles: {{ cnt }}</h1></center>
    <center><h3>"{{ category_name }}"</h3></center>
    <center>
        <a class="icon-link gap-1 icon-link-hover" href="{% url 'blog:article_create' %}">
            Create article
            <svg class="bi">
                <use xlink:href="#chevron-right"/>
            </svg>
        </a>
    </center>
    <hr>
    {% for article in articles_category %}
    <div>
        <div>
            <h4>
                <center>{{ article.title }}</center>
            </h4>
            {% if article.content|length > 200 %}
            {{ article.content|slice:":200" }}...
            <a href="{% url 'blog:article_show' article.slug %}"
               class="icon-link gap-1 icon-link-hover">Continue reading
                <svg class="bi">-->
                    <use xlink:href="#chevron-right"/>
                </svg>
            </a>
            {% else %}
            {{ article.content }}
            {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock%}
