{% extends 'blog/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content%}
<div class="container_form">
    <div class="form_body">
        <center>
            <h1>Add comment</h1>
        </center>
        <br>
        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="form_body_item">
                    {{ form.comment_text }}
                    <br>
                    <button class="form_body_item_btn btn  a_btn btn-outline-secondary ">
                        Add
                    </button>
<!--                    <button type="reset"-->
<!--                            class="form_body_item_btn btn  a_btn btn-outline-secondary btn-clean">-->
<!--                        Clean-->
<!--                    </button>-->
                </div>
            </form>
            <br>
            <center>
                <a href="{% url 'blog:article_show' slug=article.slug %}">
                    Back to Article
                </a>
            </center>
        </div>
    </div>
</div>
{% endblock%}
