{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block title %}
{{ title }}
{% endblock %}
{% block content%}
<div class="form">
    <h1>Создать пост</h1>
    <br>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.title }}
            {{ form.description }}
            {{ form.content|add_class:'search_form' }}
            <button class="btn btn-lg btn-success">Сохранить</button>
            <button type="reset" class="btn btn-lg btn-danger">Clean</button>
        </form>
    </div>
</div>
{% endblock%}
