{% extends 'blog/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content%}
{% load static%}
<div>
    <h1>{{ title}}</h1>
    <br>
    <div class="payload">
        <span class="grey summary">{{ article.description }}</span>
        <div class="article_content">
            {{ article.content }}
        </div>
        <br>
        <div class="author_category">
            <span>Автор: <a href="#">{{ article.author }}</a></span>
            <span>Категорія: <a href="{% url 'blog:article_list_category' slug=article.category.slug %}">{{ article.category }}</a></span>
        </div>
        <br>
        <div class="update link">
            <a href="{% url 'blog:article_update' slug=article.slug %}" class="btn btn-info">Редактировать</a>
        </div>

        <br>
        <div class="update link">
            {% if request.user.is_authenticated %}
            <a href="{% url 'blog:article_delete' article.slug %}" class="btn btn-danger">Удалить статью</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}
