h1 {
    color: red;
}
.nav-link {
    color: white;
}

.form_create {
    margin: 20px 60px;
}

.fieldWrapper {
    color: green;
}

.search_form {
    color: #336699; /* Змініть колір на свій смак */
    font-size: 16px; /* Змініть розмір шрифту на свій смак */
}